section.heroHomeComponent
	.heroHomeComponent--intro
		.o-container
			.o-grid-row
				.col.size-5
					.heroHomeComponent--picture.text-center
						img(src="https://via.placeholder.com/370x530", srcset="https://via.placeholder.com/370x530")
				.col.size-7
					.heroHomeComponent--text
						h1 Carlos A. Mtz. Samaniego #[span]
						h2 Desarrollador Web
						p Sometimes five Imprimaturs are seen together dialogue-wise in the piazza of one title-page, complimenting and ducking each to other with their shaven reverences, whether the author.
						a.o-btn.btn-shadow(href="#!") Descargar Curriculum
	.heroHomeComponent--stadistics
		.o-container
			.o-grid-row
				.col.size-4
					.heroHomeComponent--stadisticnum
						h3 XX
						p Años de experiencia
				.col.size-4
					.heroHomeComponent--stadisticnum
						h3 XX
						p sitios web construidos
				.col.size-4
					.heroHomeComponent--stadisticnum
						h3 XX
						p sitios web construidos