//- Extend template global
extends layout/_template

append configuracion
	-var page			= {}
	-page['lang']		= 'es'
	//- -page['libsCss']	= ['slick','slick-theme','slick-lightbox']

block contenido

	include components/_herocomponent.pug
